html,
body {
  margin: 0;
  padding: 0;
  color: #616161;
  font-family: 'Catamaran', sans-serif;
}

.frontenddaily-bar {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 3px solid #f0f0f0;
}
.frontenddaily-bar a {
  display: inline-block;
  line-height: 60px;
  padding: 0 10px;
}
.github-buttons {
  float: right;
  padding: 20px 10px;
  height: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.introduction-block {
  padding: 45px 25px;
  font-weight: 200;
  text-align: center;
}

.introduction-block h1{
  font-weight: 200;
  color: #333;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**/

.feed {
  overflow: hidden;
}

.feed .container {
  position: relative;
}

.feed .container:after {
  clear: both;
  display: block;
  content: "";
}

.feed .about {
  float: left;
  width: 250px;
  min-height: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #9c9c9c;
}

.feed .image-container {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 300px;
  right: -50vw;
  padding: 10px;
  height: 190px;
  overflow: hidden;
}
.feed .image-container img {
  margin: 10px;
  height: 180px;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 2px #b1b1b1;
  transition: margin .7s ease-out;
}

.feed .image-container img.new-image {
  margin-left: -380px;
  margin-right: 200px;
}
